.vercel/
.qa/
node_modules/
npm-debug.log*

.idea/
.DS_Store
Thumbs.db

assets/images/*.jpg
assets/images/*.jpeg
assets/images/*.png
!assets/images/optimized/
!assets/images/optimized/*

.vercel
.env*
